# Your WordPress site URL
NEXT_PUBLIC_WORDPRESS_URL=https://faustexample.wpengine.com

# Your Faust site URL
NEXT_PUBLIC_URL=http://localhost:3000

# Plugin secret found in WordPress Settings->Faust
# FAUST_SECRET_KEY=24ca0259-dbc1-4459-9687-7b7a4e12485f
